.video
  %video{src: video.file, controls: true}
.middlebar
  .votes.btn.btn-default
    .nib
      %b=link_to "▲",  video_upvote_path(video)
    .nib
      %b= video.votes
      votes
    .nib
      %b=link_to "▼", video_downvote_path(video)
  .comments.btn.btn-default
    %b= video.comments.count
    %br
    comments
.hidden.showcomments
  .commentlist
    = render video.comments
  = render 'comments/new', video: video
