body {
  .content {
    margin: 5px;
    padding: 5px;
  }
  .topbar {
    margin: 5px;
    .btn {
      margin-right: 10px;
      float: right;
      a:link, a:visited {
        color: white;
      }
    }
  }
  ul {
    width: 70vw;
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
    li {
      display: block;
      margin-bottom: 25px;
      text-align: center;
      list-style: none;
      max-width: 70vw;
      margin: auto;
      video,.video,.gif,.gif img {
        width: 100%;
      }
      .middlebar {
        display: block;
        min-height: 75px;
        margin-bottom: 25px;
        width: 100%;
        b {
          font-size: 1.4em;
        }
        b.red {
          color: red !important;
        }
        .comments,.votes,.middle_content {
          display: inline-block;
        }
        .comments,.votes {
          min-height: 82px;
        }
        .votes {
          float: left;
          .nib {
          }
        }
        .comments {
          padding-top: 16px;
          float: right;
        }
      }
    }
  }
}
.comment {
  border-bottom: 1px black dashed;
  &:last-child {
    border-bottom: 0
  }
  .text {
    font-size: 1.4em;
    margin-bottom: 5px;
  }
}
.commentlist {
  margin-bottom: 10px;
}
